openapi: 3.0.0
info:
  title: SE API Docs activities redemptions API
  description: '## Custom Variable types

    `guid` - string that matches pattern: `/^[0-9a-fA-F]{24}$/` (24 character hexadecimal string)

    `datetime` - either timestamp in milliseconds (unix timestamp*1000) or string in ISO 8061 format

    ## Global variables

    `Authorization` - string:  JWT Token you can obtain here: https://streamelements.com/dashboard/account/channels (click "Show secrets")

    `channelId` - guid: obtained by requesting `/channels/me` endpoint with provided JWT token

    `channelName` - string: lowercase channel name

    `timezone` - integer: timezone index'
  contact: {}
  version: '1.0'
servers:
- url: https://api.streamelements.com/kappa/v2
  description: V2
  variables: {}
- url: https://api.streamelements.com/kappa/v3
  description: V3
  variables: {}
security:
- JWTBearer: []
- OAuth2: []
- ApiKeyBearer: []
tags:
- name: redemptions
paths:
  /store/{channel}/redemptions:
    get:
      tags:
      - redemptions
      summary: /:channel/redemptions
      description: List redemptions
      operationId: /:channel/redemptions
      parameters:
      - name: offset
        in: query
        description: integer - items to be skipped
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: limit
        in: query
        description: integer - limit items
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 25
      - name: pending
        in: query
        description: boolean
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json; charset=utf-8
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /store/{channel}/redemptions/search:
    get:
      tags:
      - redemptions
      summary: /:channel/redemptions/search
      description: Search for redemptions
      operationId: /:channel/redemptions/search
      parameters:
      - name: offset
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: limit
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 25
      - name: search
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: searchBy
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: from
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: to
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: pending
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: ''
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: channel
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json; charset=utf-8
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /store/{channel}/redemptions/me:
    get:
      tags:
      - redemptions
      summary: /:channel/redemptions/me
      description: Get own redemptions
      operationId: /:channel/redemptions/me
      parameters:
      - name: limit
        in: query
        description: integer - Number of items per page
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 25
      - name: offset
        in: query
        description: integer - Number of items to be skipped
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json; charset=utf-8
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
  /store/{channel}/redemptions/{redemptionId}:
    put:
      tags:
      - redemptions
      summary: /:channel/redemptions/:redemptionId
      description: Update redemption
      operationId: /:channel/redemptions/:redemptionId
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: redemptionId
        in: path
        description: guid - Redemption id
        required: true
        style: simple
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json; charset=utf-8
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              example: {}
            example: {}
        required: true
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    delete:
      tags:
      - redemptions
      summary: /:channel/redemptions/:redemptionId
      description: Delete redemption
      operationId: Delete/:channel/redemptions/:redemptionId
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: redemptionId
        in: path
        description: guid - Redemption id
        required: true
        style: simple
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain; charset=utf-8
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
    get:
      tags:
      - redemptions
      summary: /:channel/redemptions/:redemptionId1
      description: Get redemption details
      operationId: /:channel/redemptions/:redemptionId1
      parameters:
      - name: channel
        in: path
        description: guid - Channel name
        required: true
        style: simple
        schema:
          type: string
          example: leeeeex
      - name: redemptionId
        in: path
        description: guid - Redemption id
        required: true
        style: simple
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json; charset=utf-8
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
components:
  securitySchemes:
    JWTBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyBearer:
      type: http
      scheme: bearer
      name: apiKey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.streamelements.com/oauth2/authorize
          tokenUrl: https://api.streamelements.com/oauth2/token
          scopes:
            tips:read: Ability read of tips
            tips:write: Grants create/modify/delete tips
            activities:read: Grants read of activities
            activities:write: Grants create activities
            loyalty:read: Grants read of loyalty settings and the leaderboard
            loyalty:write: Grants update of loyalty settings and update the leaderboard
            overlays:read: Grants read overlays
            overlays:write: Grants creation, update, deletion of overlays
            store:read: Grants read redemptions and items
            store:write: Grants create new store items and complete redemptions
            bot:read: Grants read timers, commands, spam filters and modules
            bot:write: Grants create and update timers, commands, spam filters and modules
            session:read: Grants read of session data
            contest:read: Grants read of contests
            contest:write: Grants create and update contests
            giveaway:read: Grants read of giveaways
            giveaway:write: Grants create and update giveaways
