openapi: 3.0.0
info:
  title: SE API Docs activities commands API
  description: '## Custom Variable types

    `guid` - string that matches pattern: `/^[0-9a-fA-F]{24}$/` (24 character hexadecimal string)

    `datetime` - either timestamp in milliseconds (unix timestamp*1000) or string in ISO 8061 format

    ## Global variables

    `Authorization` - string:  JWT Token you can obtain here: https://streamelements.com/dashboard/account/channels (click "Show secrets")

    `channelId` - guid: obtained by requesting `/channels/me` endpoint with provided JWT token

    `channelName` - string: lowercase channel name

    `timezone` - integer: timezone index'
  contact: {}
  version: '1.0'
servers:
- url: https://api.streamelements.com/kappa/v2
  description: V2
  variables: {}
- url: https://api.streamelements.com/kappa/v3
  description: V3
  variables: {}
security:
- JWTBearer: []
- OAuth2: []
- ApiKeyBearer: []
tags:
- name: commands
  description: Bot commands management
paths:
  /bot/commands/{channel}:
    get:
      tags:
      - commands
      summary: /:channel
      description: List custom commands
      operationId: Get/:channel
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 10:56:32 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '389'
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BotCommand'
                example:
                - cooldown:
                    user: 15
                    global: 5
                  aliases: []
                  keywords: []
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  hidden: false
                  cost: 0
                  type: say
                  accessLevel: 100
                  _id: 5c0a5172de9a4c5b7da14d8a
                  regex: test[0-9]{3}
                  reply: test response
                  command: test
                  channel: 5b2e2007760aeb7729487dab
                  createdAt: '2018-12-07T10:54:42.594Z'
                  updatedAt: '2018-12-07T10:54:42.594Z'
              example:
              - cooldown:
                  user: 15
                  global: 5
                aliases: []
                keywords: []
                enabled: true
                enabledOnline: true
                enabledOffline: true
                hidden: false
                cost: 0
                type: say
                accessLevel: 100
                _id: 5c0a5172de9a4c5b7da14d8a
                regex: test[0-9]{3}
                reply: test response
                command: test
                channel: 5b2e2007760aeb7729487dab
                createdAt: '2018-12-07T10:54:42.594Z'
                updatedAt: '2018-12-07T10:54:42.594Z'
      deprecated: false
    post:
      tags:
      - commands
      summary: /:channel
      description: Create new command
      operationId: Post/:channel
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/channelrequest'
            example:
              cooldown:
                user: 15
                global: 5
              aliases: []
              keywords: []
              enabled: true
              enabledOnline: true
              enabledOffline: true
              hidden: false
              cost: 0
              type: say
              accessLevel: 100
              regex: test[0-9]{3}
              reply: test response
              command: test2
              channel: 5b2e2007760aeb7729487dab
        required: true
      responses:
        '201':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 11:00:44 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '388'
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: X-HTTP-Method-Override
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotCommand'
              example:
                cooldown:
                  user: 15
                  global: 5
                aliases: []
                keywords: []
                enabled: true
                enabledOnline: true
                enabledOffline: true
                hidden: false
                cost: 0
                type: say
                accessLevel: 100
                _id: 5c0a52dcde9a4c1de1a14d8d
                regex: test[0-9]{3}
                reply: test response
                command: test2
                channel: 5b2e2007760aeb7729487dab
                createdAt: '2018-12-07T11:00:44.538Z'
                updatedAt: '2018-12-07T11:00:44.538Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              example:
                statusCode: 400
                error: Bad Request
                message: child "command" fails because ["command" is not allowed to be empty]. child "type" fails because ["type" is not allowed to be empty, "type" must be one of [say, reply, whisper]]. child "accessLevel" fails because ["accessLevel" must be a number]. child "reply" fails because ["reply" is not allowed to be empty, "reply" length must be at least 1 characters long]
                details:
                - path:
                  - command
                  message: '"command" is not allowed to be empty'
                - path:
                  - type
                  message: '"type" is not allowed to be empty'
                - path:
                  - type
                  message: '"type" must be one of [say, reply, whisper]'
                - path:
                  - accessLevel
                  message: '"accessLevel" must be a number'
                - path:
                  - reply
                  message: '"reply" is not allowed to be empty'
                - path:
                  - reply
                  message: '"reply" length must be at least 1 characters long'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/channel_redemptions_itemId'
              example:
                statusCode: 409
                error: Conflict
                message: Command test already exists
      deprecated: false
  /bot/commands/{channel}/public:
    get:
      tags:
      - commands
      summary: /:channel/public
      description: List channel's public commands
      operationId: /:channel/public
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 19:33:09 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '778'
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BotCommand'
                example:
                - cooldown:
                    user: 15
                    global: 5
                  aliases: []
                  keywords: []
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  hidden: false
                  cost: 0
                  type: say
                  accessLevel: 100
                  _id: 5c0a5172de9a4c5b7da14d8a
                  regex: test[0-9]{3}
                  reply: test response
                  command: test
                  channel: 5b2e2007760aeb7729487dab
                  createdAt: '2018-12-07T10:54:42.594Z'
                  updatedAt: '2018-12-07T10:54:42.594Z'
                - cooldown:
                    user: 15
                    global: 5
                  aliases: []
                  keywords: []
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  hidden: false
                  cost: 0
                  type: say
                  accessLevel: 100
                  _id: 5c0a52dcde9a4c1de1a14d8d
                  regex: test[0-9]{3}
                  reply: test response
                  command: test2
                  channel: 5b2e2007760aeb7729487dab
                  createdAt: '2018-12-07T11:00:44.538Z'
                  updatedAt: '2018-12-07T11:01:37.758Z'
              example:
              - cooldown:
                  user: 15
                  global: 5
                aliases: []
                keywords: []
                enabled: true
                enabledOnline: true
                enabledOffline: true
                hidden: false
                cost: 0
                type: say
                accessLevel: 100
                _id: 5c0a5172de9a4c5b7da14d8a
                regex: test[0-9]{3}
                reply: test response
                command: test
                channel: 5b2e2007760aeb7729487dab
                createdAt: '2018-12-07T10:54:42.594Z'
                updatedAt: '2018-12-07T10:54:42.594Z'
              - cooldown:
                  user: 15
                  global: 5
                aliases: []
                keywords: []
                enabled: true
                enabledOnline: true
                enabledOffline: true
                hidden: false
                cost: 0
                type: say
                accessLevel: 100
                _id: 5c0a52dcde9a4c1de1a14d8d
                regex: test[0-9]{3}
                reply: test response
                command: test2
                channel: 5b2e2007760aeb7729487dab
                createdAt: '2018-12-07T11:00:44.538Z'
                updatedAt: '2018-12-07T11:01:37.758Z'
      deprecated: false
  /bot/commands/{channel}/default:
    get:
      tags:
      - commands
      summary: /:channel/default
      description: Lists default commands
      operationId: /:channel/default
      parameters:
      - name: language
        in: query
        description: string - language iso code lowercase (eg. en)
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 10:57:38 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '15959'
          content:
            application/json; charset=utf-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Success6'
                example:
                - commandId: raffle_join
                  command: join
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: raffle
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases: []
                  regex: ''
                  description: Join an active raffle
                - commandId: emotes
                  command: emotes
                  subCommands:
                  - ffz
                  - bttv
                  - update
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases: []
                  regex: ''
                  description: 'Active BTTV emotes in chat: Clap KKaper gachiBASS gachiGASM monkaS'
                - commandId: srpause
                  command: pause
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases: []
                  regex: ''
                  description: Pause songrequest playback.
                - commandId: leaderboard
                  command: leaderboard
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - ranklist
                  regex: ''
                  description: Check out the $(pointsname) Leaderboard here https://StreamElements.com/${channel.alias}/leaderboard
                - commandId: srqueue
                  command: songqueue
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 10
                  aliases:
                  - songlist
                  regex: ''
                  description: you can see the songrequest queue here https://StreamElements.com/${channel.alias}/songrequest
                - commandId: srplay
                  command: play
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases:
                  - resume
                  regex: ''
                  description: Resume songrequest playback.
                - commandId: level
                  command: level
                  accessLevel: 1000
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases: []
                  regex: ''
                  description: Set a viewers access level. Reset with !level <username> reset.
                - commandId: givepoints
                  command: givepoints
                  accessLevel: 100
                  enabled: false
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - transfer
                  - give
                  regex: ''
                  description: Transfer points to another user.
                - commandId: commands
                  command: commands
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - cmds
                  regex: ''
                  description: You can find a list of all Commands here https://StreamElements.com/${channel.alias}/commands
                - commandId: slotmachine
                  command: slots
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: slotmachine
                  cost: 0
                  cooldown:
                    user: 10
                    global: 0
                  aliases:
                  - slotmachine
                  - slot
                  - sm
                  - smp
                  regex: ''
                  description: Play the slot machine
                - commandId: hypecup
                  command: hypecup
                  subCommands:
                  - clear
                  accessLevel: 1000
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 1
                    global: 1
                  aliases: []
                  regex: ''
                  description: Control the HypeCup.
                - commandId: contest_bet
                  command: bet
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 5
                    global: 0
                  aliases: []
                  regex: ''
                  description: Bet on a contest.
                - commandId: accountage
                  command: accountage
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - accage
                  - created
                  regex: ''
                  description: ${user} was created 1 year 5 months 27 days 1 hour ago.
                - commandId: srremove
                  command: removesong
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 10
                  aliases:
                  - songs.pop()
                  regex: ''
                  description: Remove a users songs, or a single song from the queue.
                - commandId: raffle_singleraffle
                  command: sraffle
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: raffle
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases:
                  - singleraffle
                  regex: ''
                  description: Start a raffle with a single winner
                - commandId: top
                  command: top
                  subCommands:
                  - points
                  - alltime
                  - online
                  - offline
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 5
                    global: 2
                  aliases: []
                  regex: ''
                  description: Show the top of the leaderboard.
                - commandId: giveaway
                  command: giveaway
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases: []
                  regex: ''
                  description: Show the currently active giveaway.
                - commandId: followage
                  command: followage
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - howlong
                  regex: ''
                  description: ${user1} has been following ${user2} for 1 year 5 months 27 days 1 hour
                - commandId: srskip
                  command: skip
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 10
                  aliases:
                  - skipsong
                  regex: ''
                  description: Skip the current song
                - commandId: wrongsong
                  command: wrongsong
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 10
                    global: 0
                  aliases:
                  - ctrl-z
                  - heybuddyithinkyougotthewrongsong
                  regex: ''
                  description: Removes your last song from the queue
                - commandId: eightball
                  command: 8ball
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: eightball
                  cost: 0
                  cooldown:
                    user: 10
                    global: 3
                  aliases:
                  - eightball
                  - 69ball
                  - 420ball
                  regex: ''
                  description: Ask the magic 8-ball a question
                - commandId: store_redeem
                  command: redeem
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 5
                    global: 1
                  aliases:
                  - buy
                  regex: ''
                  description: You successfully redeemed item1 for 420 points.
                - commandId: permit
                  command: permit
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases: []
                  regex: ''
                  description: Prevent a viewer from getting timed out for 60 seconds.
                - commandId: roulette
                  command: roulette
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: roulette
                  cost: 0
                  cooldown:
                    user: 60
                    global: 0
                  aliases:
                  - gamble
                  regex: ''
                  description: gamble your life away
                - commandId: editpoints
                  command: addpoints
                  accessLevel: 1000
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases:
                  - editpoints
                  - bonus
                  regex: ''
                  description: Give points to viewers. Use 'all' for all chatters
                - commandId: module
                  command: module
                  accessLevel: 1000
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 5
                  aliases: []
                  regex: ''
                  description: Enable or disable modules via chat.
                - commandId: next
                  command: next
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 10
                    global: 0
                  aliases:
                  - nextsong
                  - whatisthenextsonghomie
                  regex: ''
                  description: 'next song: MrSuicideSheep - WE WON ZULUL [2m3s] requested by LordFluffyButt https://youtu.be/9OG-Qr1qAe4'
                - commandId: store_items
                  command: items
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - store
                  regex: ''
                  description: 'Available items are: item1, item2, item3 https://StreamElements.com/${channel.alias}/store'
                - commandId: srsongrequest
                  command: songrequest
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: songrequest
                  cost: 0
                  cooldown:
                    user: 15
                    global: 3
                  aliases:
                  - sr
                  regex: ''
                  description: Request a song by youtube id, url or video title.
                - commandId: srwhen
                  command: when
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 15
                  aliases:
                  - mysong
                  regex: ''
                  description: '"My Summer Car - Radio Chill" is at #2 in the queue and is playing 2 mins 3 secs'
                - commandId: srvolume
                  command: volume
                  accessLevel: 1000
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases: []
                  regex: ''
                  description: Change the songrequest volume.
                - commandId: kappagen
                  command: kappagen
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - emotesplosion
                  regex: ''
                  description: KappaGen emotesplosions.
                - commandId: command
                  command: command
                  subCommands:
                  - add
                  - remove
                  - edit
                  - options
                  - show
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 3
                    global: 0
                  aliases:
                  - cmd
                  regex: ''
                  description: Add, edit and delete chat commands.
                - commandId: ping
                  command: ping
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleEnabled: true
                  moduleId: admin
                  cost: 0
                  cooldown:
                    user: 0
                    global: 15
                  aliases: []
                  regex: ''
                  description: streamelements has been running for 13 hours 47 mins!
                - commandId: duel_accept
                  command: accept
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: duel
                  cost: 0
                  cooldown:
                    user: 10
                    global: 0
                  aliases: []
                  regex: ''
                  description: Accept a duel request from another chatter
                - commandId: bot
                  command: bot
                  subCommands:
                  - mute
                  - unmute
                  - part
                  accessLevel: 1000
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases: []
                  regex: ''
                  description: Mute, unmute or remove the bot.
                - commandId: raffle_cancel
                  command: cancelraffle
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: raffle
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases:
                  - rafflecancel
                  regex: ''
                  description: Cancel an active raffle
                - commandId: bingo
                  command: bingo
                  subCommands:
                  - bttv
                  - ffz
                  - twitch
                  - all
                  - cancel
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: bingo
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases: []
                  regex: ''
                  description: Play a game of emote-bingo
                - commandId: pepes
                  command: pepes
                  accessLevel: 1000
                  enabled: false
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 5
                  aliases: []
                  regex: ''
                  description: Enable or disable pepes in bot responses.
                - commandId: edit_counter
                  command: editcounter
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases:
                  - editcount
                  regex: ''
                  description: Edit a custom ${count <name>}/${getcount <name>} counter
                - commandId: voteskip
                  command: voteskip
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: songrequest
                  cost: 0
                  cooldown:
                    user: 10
                    global: 0
                  aliases: []
                  regex: ''
                  description: Vote to skip the current song
                - commandId: raffle_multiraffle
                  command: raffle
                  accessLevel: 500
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: raffle
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases:
                  - mraffle
                  - multiraffle
                  regex: ''
                  description: Start a raffle with multiple winners
                - commandId: duel
                  command: duel
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: duel
                  cost: 0
                  cooldown:
                    user: 10
                    global: 0
                  aliases: []
                  regex: ''
                  description: Duel another chatter for points
                - commandId: setpoints
                  command: setpoints
                  accessLevel: 1000
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases: []
                  regex: ''
                  description: Set the points of a viewer.
                - commandId: watchtime
                  command: watchtime
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 1
                  aliases:
                  - viewtime
                  regex: ''
                  description: ${user} has spent ${user.time_online|'0 seconds'} watching ${channel}
                - commandId: duel_cancel
                  command: cancelduel
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: duel
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases: []
                  regex: ''
                  description: Cancel a duel request to another chatter
                - commandId: quote
                  command: quote
                  subCommands:
                  - add
                  - remove
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 0
                  aliases: []
                  regex: ''
                  description: Add, remove and show quotes.
                - commandId: points
                  command: points
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 5
                    global: 1
                  aliases: []
                  regex: ''
                  description: $(user) has $(user.points) $(pointsname) and is rank $(user.points_rank) on the leaderboard.
                - commandId: chatstats
                  command: chatstats
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - twitchstats
                  regex: ''
                  description: https://stats.StreamElements.com/c/$(channel) PogChamp
                - commandId: srsong
                  command: song
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 15
                  aliases: []
                  regex: ''
                  description: 'current song: harambe.waw - WE WON ZULUL [2m3s] requested by nuuls https://youtu.be/9OG-Qr1qAe4'
                - commandId: settitle
                  command: settitle
                  accessLevel: 1000
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 15
                  aliases:
                  - setitle
                  regex: ''
                  description: Update the stream title.
                - commandId: duel_deny
                  command: deny
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: duel
                  cost: 0
                  cooldown:
                    user: 10
                    global: 0
                  aliases: []
                  regex: ''
                  description: Deny a duel request from another chatter
                - commandId: giveaway_enter
                  command: enter
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 10
                    global: 0
                  aliases:
                  - ticket
                  regex: ''
                  description: Buy tickets for a giveaway.
                - commandId: uptime
                  command: uptime
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - downtime
                  regex: ''
                  description: ${channel} has been streaming for 2 hours 20 mins
                - commandId: contest_contest
                  command: contest
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases: []
                  regex: ''
                  description: Show the currently active contest.
                - commandId: tip
                  command: tip
                  accessLevel: 100
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 15
                    global: 5
                  aliases:
                  - donate
                  regex: ''
                  description: You can Tip to $(channel) using this link https://StreamElements.com/${channel.alias}/tip
                - commandId: setgame
                  command: setgame
                  accessLevel: 1000
                  enabled: true
                  enabledOnline: true
                  enabledOffline: true
                  moduleId: ''
                  cost: 0
                  cooldown:
                    user: 0
                    global: 15
                  aliases: []
                  regex: ''
                  description: Update the channels game.
              example:
              - commandId: raffle_join
                command: join
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: raffle
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases: []
                regex: ''
                description: Join an active raffle
              - commandId: emotes
                command: emotes
                subCommands:
                - ffz
                - bttv
                - update
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases: []
                regex: ''
                description: 'Active BTTV emotes in chat: Clap KKaper gachiBASS gachiGASM monkaS'
              - commandId: srpause
                command: pause
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases: []
                regex: ''
                description: Pause songrequest playback.
              - commandId: leaderboard
                command: leaderboard
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - ranklist
                regex: ''
                description: Check out the $(pointsname) Leaderboard here https://StreamElements.com/${channel.alias}/leaderboard
              - commandId: srqueue
                command: songqueue
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 10
                aliases:
                - songlist
                regex: ''
                description: you can see the songrequest queue here https://StreamElements.com/${channel.alias}/songrequest
              - commandId: srplay
                command: play
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases:
                - resume
                regex: ''
                description: Resume songrequest playback.
              - commandId: level
                command: level
                accessLevel: 1000
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases: []
                regex: ''
                description: Set a viewers access level. Reset with !level <username> reset.
              - commandId: givepoints
                command: givepoints
                accessLevel: 100
                enabled: false
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - transfer
                - give
                regex: ''
                description: Transfer points to another user.
              - commandId: commands
                command: commands
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - cmds
                regex: ''
                description: You can find a list of all Commands here https://StreamElements.com/${channel.alias}/commands
              - commandId: slotmachine
                command: slots
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: slotmachine
                cost: 0
                cooldown:
                  user: 10
                  global: 0
                aliases:
                - slotmachine
                - slot
                - sm
                - smp
                regex: ''
                description: Play the slot machine
              - commandId: hypecup
                command: hypecup
                subCommands:
                - clear
                accessLevel: 1000
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 1
                  global: 1
                aliases: []
                regex: ''
                description: Control the HypeCup.
              - commandId: contest_bet
                command: bet
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 5
                  global: 0
                aliases: []
                regex: ''
                description: Bet on a contest.
              - commandId: accountage
                command: accountage
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - accage
                - created
                regex: ''
                description: ${user} was created 1 year 5 months 27 days 1 hour ago.
              - commandId: srremove
                command: removesong
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 10
                aliases:
                - songs.pop()
                regex: ''
                description: Remove a users songs, or a single song from the queue.
              - commandId: raffle_singleraffle
                command: sraffle
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: raffle
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases:
                - singleraffle
                regex: ''
                description: Start a raffle with a single winner
              - commandId: top
                command: top
                subCommands:
                - points
                - alltime
                - online
                - offline
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 5
                  global: 2
                aliases: []
                regex: ''
                description: Show the top of the leaderboard.
              - commandId: giveaway
                command: giveaway
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases: []
                regex: ''
                description: Show the currently active giveaway.
              - commandId: followage
                command: followage
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - howlong
                regex: ''
                description: ${user1} has been following ${user2} for 1 year 5 months 27 days 1 hour
              - commandId: srskip
                command: skip
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 10
                aliases:
                - skipsong
                regex: ''
                description: Skip the current song
              - commandId: wrongsong
                command: wrongsong
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 10
                  global: 0
                aliases:
                - ctrl-z
                - heybuddyithinkyougotthewrongsong
                regex: ''
                description: Removes your last song from the queue
              - commandId: eightball
                command: 8ball
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: eightball
                cost: 0
                cooldown:
                  user: 10
                  global: 3
                aliases:
                - eightball
                - 69ball
                - 420ball
                regex: ''
                description: Ask the magic 8-ball a question
              - commandId: store_redeem
                command: redeem
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 5
                  global: 1
                aliases:
                - buy
                regex: ''
                description: You successfully redeemed item1 for 420 points.
              - commandId: permit
                command: permit
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases: []
                regex: ''
                description: Prevent a viewer from getting timed out for 60 seconds.
              - commandId: roulette
                command: roulette
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: roulette
                cost: 0
                cooldown:
                  user: 60
                  global: 0
                aliases:
                - gamble
                regex: ''
                description: gamble your life away
              - commandId: editpoints
                command: addpoints
                accessLevel: 1000
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases:
                - editpoints
                - bonus
                regex: ''
                description: Give points to viewers. Use 'all' for all chatters
              - commandId: module
                command: module
                accessLevel: 1000
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 5
                aliases: []
                regex: ''
                description: Enable or disable modules via chat.
              - commandId: next
                command: next
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 10
                  global: 0
                aliases:
                - nextsong
                - whatisthenextsonghomie
                regex: ''
                description: 'next song: MrSuicideSheep - WE WON ZULUL [2m3s] requested by LordFluffyButt https://youtu.be/9OG-Qr1qAe4'
              - commandId: store_items
                command: items
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - store
                regex: ''
                description: 'Available items are: item1, item2, item3 https://StreamElements.com/${channel.alias}/store'
              - commandId: srsongrequest
                command: songrequest
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: songrequest
                cost: 0
                cooldown:
                  user: 15
                  global: 3
                aliases:
                - sr
                regex: ''
                description: Request a song by youtube id, url or video title.
              - commandId: srwhen
                command: when
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 15
                aliases:
                - mysong
                regex: ''
                description: '"My Summer Car - Radio Chill" is at #2 in the queue and is playing 2 mins 3 secs'
              - commandId: srvolume
                command: volume
                accessLevel: 1000
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases: []
                regex: ''
                description: Change the songrequest volume.
              - commandId: kappagen
                command: kappagen
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - emotesplosion
                regex: ''
                description: KappaGen emotesplosions.
              - commandId: command
                command: command
                subCommands:
                - add
                - remove
                - edit
                - options
                - show
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 3
                  global: 0
                aliases:
                - cmd
                regex: ''
                description: Add, edit and delete chat commands.
              - commandId: ping
                command: ping
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleEnabled: true
                moduleId: admin
                cost: 0
                cooldown:
                  user: 0
                  global: 15
                aliases: []
                regex: ''
                description: streamelements has been running for 13 hours 47 mins!
              - commandId: duel_accept
                command: accept
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: duel
                cost: 0
                cooldown:
                  user: 10
                  global: 0
                aliases: []
                regex: ''
                description: Accept a duel request from another chatter
              - commandId: bot
                command: bot
                subCommands:
                - mute
                - unmute
                - part
                accessLevel: 1000
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases: []
                regex: ''
                description: Mute, unmute or remove the bot.
              - commandId: raffle_cancel
                command: cancelraffle
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: raffle
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases:
                - rafflecancel
                regex: ''
                description: Cancel an active raffle
              - commandId: bingo
                command: bingo
                subCommands:
                - bttv
                - ffz
                - twitch
                - all
                - cancel
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: bingo
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases: []
                regex: ''
                description: Play a game of emote-bingo
              - commandId: pepes
                command: pepes
                accessLevel: 1000
                enabled: false
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 5
                aliases: []
                regex: ''
                description: Enable or disable pepes in bot responses.
              - commandId: edit_counter
                command: editcounter
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases:
                - editcount
                regex: ''
                description: Edit a custom ${count <name>}/${getcount <name>} counter
              - commandId: voteskip
                command: voteskip
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: songrequest
                cost: 0
                cooldown:
                  user: 10
                  global: 0
                aliases: []
                regex: ''
                description: Vote to skip the current song
              - commandId: raffle_multiraffle
                command: raffle
                accessLevel: 500
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: raffle
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases:
                - mraffle
                - multiraffle
                regex: ''
                description: Start a raffle with multiple winners
              - commandId: duel
                command: duel
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: duel
                cost: 0
                cooldown:
                  user: 10
                  global: 0
                aliases: []
                regex: ''
                description: Duel another chatter for points
              - commandId: setpoints
                command: setpoints
                accessLevel: 1000
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases: []
                regex: ''
                description: Set the points of a viewer.
              - commandId: watchtime
                command: watchtime
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 1
                aliases:
                - viewtime
                regex: ''
                description: ${user} has spent ${user.time_online|'0 seconds'} watching ${channel}
              - commandId: duel_cancel
                command: cancelduel
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: duel
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases: []
                regex: ''
                description: Cancel a duel request to another chatter
              - commandId: quote
                command: quote
                subCommands:
                - add
                - remove
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 0
                aliases: []
                regex: ''
                description: Add, remove and show quotes.
              - commandId: points
                command: points
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 5
                  global: 1
                aliases: []
                regex: ''
                description: $(user) has $(user.points) $(pointsname) and is rank $(user.points_rank) on the leaderboard.
              - commandId: chatstats
                command: chatstats
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - twitchstats
                regex: ''
                description: https://stats.StreamElements.com/c/$(channel) PogChamp
              - commandId: srsong
                command: song
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 15
                aliases: []
                regex: ''
                description: 'current song: harambe.waw - WE WON ZULUL [2m3s] requested by nuuls https://youtu.be/9OG-Qr1qAe4'
              - commandId: settitle
                command: settitle
                accessLevel: 1000
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 15
                aliases:
                - setitle
                regex: ''
                description: Update the stream title.
              - commandId: duel_deny
                command: deny
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: duel
                cost: 0
                cooldown:
                  user: 10
                  global: 0
                aliases: []
                regex: ''
                description: Deny a duel request from another chatter
              - commandId: giveaway_enter
                command: enter
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 10
                  global: 0
                aliases:
                - ticket
                regex: ''
                description: Buy tickets for a giveaway.
              - commandId: uptime
                command: uptime
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - downtime
                regex: ''
                description: ${channel} has been streaming for 2 hours 20 mins
              - commandId: contest_contest
                command: contest
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases: []
                regex: ''
                description: Show the currently active contest.
              - commandId: tip
                command: tip
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - donate
                regex: ''
                description: You can Tip to $(channel) using this link https://StreamElements.com/${channel.alias}/tip
              - commandId: setgame
                command: setgame
                accessLevel: 1000
                enabled: true
                enabledOnline: true
                enabledOffline: true
                moduleId: ''
                cost: 0
                cooldown:
                  user: 0
                  global: 15
                aliases: []
                regex: ''
                description: Update the channels game.
      deprecated: false
  /bot/commands/{channel}/default/{commandId}:
    put:
      tags:
      - commands
      summary: /:channel/default/:commandId
      description: Update default command
      operationId: /:channel/default/:commandId
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: commandId
        in: path
        description: string - command id
        required: true
        style: simple
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        description: ''
        content:
          application/json; charset=utf-8:
            schema:
              type: object
              example: {}
            examples:
              example-1:
                value: {}
        required: true
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Sat, 08 Dec 2018 09:09:01 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '240'
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotCommand'
              example:
                command: chatstats
                accessLevel: 100
                enabled: true
                enabledOnline: true
                enabledOffline: true
                cost: 0
                cooldown:
                  user: 15
                  global: 5
                aliases:
                - twitchstats
                regex: ''
                channel: 5b2e2007760aeb7729487dab
                commandId: chatstats
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              example:
                statusCode: 400
                error: Bad Request
                message: child "command" fails because ["command" is required]. child "reply" fails because ["reply" is required]
                details:
                - path:
                  - command
                  message: '"command" is required'
                - path:
                  - reply
                  message: '"reply" is required'
      deprecated: false
  /bot/commands/{channel}/{commandId}:
    get:
      tags:
      - commands
      summary: /:channel/:commandId
      description: Get command details
      operationId: /:channel/:commandId
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: commandId
        in: path
        description: guid - Command id
        required: true
        style: simple
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 10:58:48 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '387'
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotCommand'
              example:
                cooldown:
                  user: 15
                  global: 5
                aliases: []
                keywords: []
                enabled: true
                enabledOnline: true
                enabledOffline: true
                hidden: false
                cost: 0
                type: say
                accessLevel: 100
                _id: 5c0a5172de9a4c5b7da14d8a
                regex: test[0-9]{3}
                reply: test response
                command: test
                channel: 5b2e2007760aeb7729487dab
                createdAt: '2018-12-07T10:54:42.594Z'
                updatedAt: '2018-12-07T10:54:42.594Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              example:
                statusCode: 400
                error: Bad Request
                message: 'child "commandId" fails because ["commandId" with value "1" fails to match the required pattern: /^[0-9a-fA-F]{24}$/]'
                details:
                - path:
                  - commandId
                  message: '"commandId" with value "1" fails to match the required pattern: /^[0-9a-fA-F]{24}$/'
      deprecated: false
    put:
      tags:
      - commands
      summary: /:channel/:commandId
      description: Update command details
      operationId: Put/:channel/:commandId
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: commandId
        in: path
        description: guid - Command id
        required: true
        style: simple
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Command'
            example:
              cooldown:
                user: 15
                global: 5
              aliases: []
              keywords: []
              enabled: true
              enabledOnline: true
              enabledOffline: true
              hidden: false
              cost: 0
              type: say
              accessLevel: 100
              regex: test[0-9]{3}
              reply: test response
              command: test2
              channel: 5b2e2007760aeb7729487dab
        required: true
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 11:01:37 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '388'
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotCommand'
              example:
                cooldown:
                  user: 15
                  global: 5
                aliases: []
                keywords: []
                enabled: true
                enabledOnline: true
                enabledOffline: true
                hidden: false
                cost: 0
                type: say
                accessLevel: 100
                _id: 5c0a52dcde9a4c1de1a14d8d
                regex: test[0-9]{3}
                reply: test response
                command: test2
                channel: 5b2e2007760aeb7729487dab
                createdAt: '2018-12-07T11:00:44.538Z'
                updatedAt: '2018-12-07T11:01:37.758Z'
      deprecated: false
    delete:
      tags:
      - commands
      summary: /:channel/:commandId1
      description: Delete command
      operationId: /:channel/:commandId1
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: commandId
        in: path
        description: guid - Command id
        required: true
        style: simple
        schema:
          type: string
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        '200':
          description: ''
          headers: {}
      deprecated: false
components:
  schemas:
    channelrequest:
      title: /:channelrequest
      required:
      - cooldown
      - aliases
      - keywords
      - enabled
      - enabledOnline
      - enabledOffline
      - hidden
      - cost
      - type
      - accessLevel
      - regex
      - reply
      - command
      - channel
      type: object
      properties:
        cooldown:
          $ref: '#/components/schemas/Cooldown'
        aliases:
          type: array
          items:
            type: string
          description: ''
        keywords:
          type: array
          items:
            type: string
          description: ''
        enabled:
          type: boolean
        enabledOnline:
          type: boolean
        enabledOffline:
          type: boolean
        hidden:
          type: boolean
        cost:
          type: integer
          format: int32
        type:
          type: string
        accessLevel:
          type: integer
          format: int32
        regex:
          type: string
        reply:
          type: string
        command:
          type: string
        channel:
          type: string
      example:
        cooldown:
          user: 15
          global: 5
        aliases: []
        keywords: []
        enabled: true
        enabledOnline: true
        enabledOffline: true
        hidden: false
        cost: 0
        type: say
        accessLevel: 100
        regex: test[0-9]{3}
        reply: test response
        command: test2
        channel: 5b2e2007760aeb7729487dab
    Success6:
      title: Success6
      required:
      - commandId
      - command
      - accessLevel
      - enabled
      - enabledOnline
      - enabledOffline
      - moduleId
      - cost
      - cooldown
      - aliases
      - regex
      - description
      type: object
      properties:
        commandId:
          type: string
        command:
          type: string
        accessLevel:
          type: integer
          format: int32
        enabled:
          type: boolean
        enabledOnline:
          type: boolean
        enabledOffline:
          type: boolean
        moduleId:
          type: string
        cost:
          type: integer
          format: int32
        cooldown:
          $ref: '#/components/schemas/Cooldown'
        aliases:
          type: array
          items:
            type: string
          description: ''
        regex:
          type: string
        description:
          type: string
        subCommands:
          type: array
          items:
            type: string
          description: ''
        moduleEnabled:
          type: boolean
      example:
        commandId: raffle_join
        command: join
        accessLevel: 100
        enabled: true
        enabledOnline: true
        enabledOffline: true
        moduleId: raffle
        cost: 0
        cooldown:
          user: 0
          global: 0
        aliases: []
        regex: ''
        description: Join an active raffle
    Cooldown:
      title: Cooldown
      required:
      - user
      - global
      type: object
      properties:
        user:
          type: integer
          format: int32
        global:
          type: integer
          format: int32
      example:
        user: 15
        global: 5
    Detail:
      title: Detail
      required:
      - path
      - message
      type: object
      properties:
        path:
          type: array
          items:
            type: string
          description: ''
        message:
          type: string
      example:
        path:
        - types
        message: '"types" must be an array'
    BotCommand:
      title: BotCommand
      required:
      - cooldown
      - aliases
      - keywords
      - enabled
      - enabledOnline
      - enabledOffline
      - hidden
      - cost
      - type
      - accessLevel
      - regex
      - reply
      - command
      - channel
      type: object
      properties:
        cooldown:
          $ref: '#/components/schemas/Cooldown'
        aliases:
          type: array
          items:
            type: string
          description: ''
        keywords:
          type: array
          items:
            type: string
          description: ''
        enabled:
          type: boolean
        enabledOnline:
          type: boolean
        enabledOffline:
          type: boolean
        hidden:
          type: boolean
        cost:
          type: integer
          format: int32
        type:
          type: string
        accessLevel:
          type: integer
          format: int32
        _id:
          type: string
        regex:
          type: string
        reply:
          type: string
        command:
          type: string
        channel:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
      example:
        cooldown:
          user: 15
          global: 5
        aliases: []
        keywords: []
        enabled: true
        enabledOnline: true
        enabledOffline: true
        hidden: false
        cost: 0
        type: say
        accessLevel: 100
        _id: 5c0a5172de9a4c5b7da14d8a
        regex: test[0-9]{3}
        reply: test response
        command: test
        channel: 5b2e2007760aeb7729487dab
        createdAt: '2018-12-07T10:54:42.594Z'
        updatedAt: '2018-12-07T10:54:42.594Z'
    channel_redemptions_itemId:
      title: /:channel/redemptions/:itemId
      required:
      - statusCode
      - error
      - message
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        error:
          type: string
        message:
          type: string
      example:
        statusCode: 404
        error: Not Found
        message: Item not found
    Command:
      title: Command
      required:
      - cooldown
      - aliases
      - keywords
      - enabled
      - enabledOnline
      - enabledOffline
      - hidden
      - cost
      - type
      - accessLevel
      - regex
      - reply
      - command
      - channel
      type: object
      properties:
        cooldown:
          $ref: '#/components/schemas/Cooldown'
        aliases:
          type: array
          items:
            type: string
          description: ''
        keywords:
          type: array
          items:
            type: string
          description: ''
        enabled:
          type: boolean
        enabledOnline:
          type: boolean
        enabledOffline:
          type: boolean
        hidden:
          type: boolean
        cost:
          type: integer
          format: int32
        type:
          type: string
        accessLevel:
          type: integer
          format: int32
        regex:
          type: string
        reply:
          type: string
        command:
          type: string
        channel:
          type: string
      example:
        cooldown:
          user: 15
          global: 5
        aliases: []
        keywords: []
        enabled: true
        enabledOnline: true
        enabledOffline: true
        hidden: false
        cost: 0
        type: say
        accessLevel: 100
        regex: test[0-9]{3}
        reply: test response
        command: test2
        channel: 5b2e2007760aeb7729487dab
    400-badrequest:
      title: 400-badrequest
      required:
      - statusCode
      - error
      - message
      - details
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        error:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Detail'
          description: ''
      example:
        statusCode: 400
        error: Bad Request
        message: 'child "giveawayId" fails because ["giveawayId" with value "5c10e383bd1e475b7c3d6eb" fails to match the required pattern: /^[0-9a-fA-F]{24}$/]'
        details:
        - path:
          - giveawayId
          message: '"giveawayId" with value "5c10e383bd1e475b7c3d6eb" fails to match the required pattern: /^[0-9a-fA-F]{24}$/'
  securitySchemes:
    JWTBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyBearer:
      type: http
      scheme: bearer
      name: apiKey
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.streamelements.com/oauth2/authorize
          tokenUrl: https://api.streamelements.com/oauth2/token
          scopes:
            tips:read: Ability read of tips
            tips:write: Grants create/modify/delete tips
            activities:read: Grants read of activities
            activities:write: Grants create activities
            loyalty:read: Grants read of loyalty settings and the leaderboard
            loyalty:write: Grants update of loyalty settings and update the leaderboard
            overlays:read: Grants read overlays
            overlays:write: Grants creation, update, deletion of overlays
            store:read: Grants read redemptions and items
            store:write: Grants create new store items and complete redemptions
            bot:read: Grants read timers, commands, spam filters and modules
            bot:write: Grants create and update timers, commands, spam filters and modules
            session:read: Grants read of session data
            contest:read: Grants read of contests
            contest:write: Grants create and update contests
            giveaway:read: Grants read of giveaways
            giveaway:write: Grants create and update giveaways
