openapi: 3.0.0
info:
  title: SE API Docs activities channels API
  description: '## Custom Variable types

    `guid` - string that matches pattern: `/^[0-9a-fA-F]{24}$/` (24 character hexadecimal string)

    `datetime` - either timestamp in milliseconds (unix timestamp*1000) or string in ISO 8061 format

    ## Global variables

    `Authorization` - string:  JWT Token you can obtain here: https://streamelements.com/dashboard/account/channels (click "Show secrets")

    `channelId` - guid: obtained by requesting `/channels/me` endpoint with provided JWT token

    `channelName` - string: lowercase channel name

    `timezone` - integer: timezone index'
  contact: {}
  version: '1.0'
servers:
- url: https://api.streamelements.com/kappa/v2
  description: V2
  variables: {}
- url: https://api.streamelements.com/kappa/v3
  description: V3
  variables: {}
security:
- JWTBearer: []
- OAuth2: []
- ApiKeyBearer: []
tags:
- name: channels
  description: Endpoints to get channel data
paths:
  /channels/me:
    get:
      tags:
      - channels
      summary: /me
      description: Get channels details linked to provided JWT Token
      operationId: /me
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 10:17:03 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '920'
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/LinkedChannels'
              example:
                profile:
                  headerImage: https://cdn.streamelements.com/static/user/profile_header_default.png
                  title: leeeeex's profile
                provider: twitch
                suspended: false
                nullChannel: false
                providerEmails: []
                lastJWTToken: null
                _id: 5b2e2007760aeb7729487dab
                email: email@streamelements.com
                avatar: https://static-cdn.jtvnw.net/jtv_user_pictures/b21a7fa5-4f3f-4402-b68f-3545dcc68b90-profile_image-300x300.jpg
                verified: false
                username: leeeeex
                alias: leeeeex
                displayName: leeeeex
                providerId: '85827806'
                accessToken: ixfd2ussul9naws1agx16n8ufwny5a
                apiToken: 7JkHvfuVsd5I1f1A0TRF
                isPartner: false
                broadcasterType: ''
                users:
                - user: 5b2e2007760aeb6677487daa
                  providerId: '85827806'
                  role: owner
                ab: []
                createdAt: '2018-06-23T10:25:11.733Z'
                updatedAt: '2018-12-07T09:29:01.582Z'
                lastLogin: '2018-12-07T09:29:01.58Z'
                country: US
                providerTotals:
                  follower-total: 6
                features: []
                geo: US
      deprecated: false
  /channels/{channel}:
    get:
      tags:
      - channels
      summary: /:channel
      description: Get channel details for provided channel id or channel name
      operationId: Get/:channel12345
      parameters:
      - name: channel
        in: path
        description: String|guid - Channel name or channel id
        required: true
        style: simple
        schema:
          type: string
          example: leeeeex
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 10:43:19 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '444'
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/SimpleChannelDetails'
              example:
                profile:
                  headerImage: https://cdn.streamelements.com/static/user/profile_header_default.png
                  title: leeeeex's profile
                provider: twitch
                _id: 5b2e2007760aeb7729487dab
                avatar: https://static-cdn.jtvnw.net/jtv_user_pictures/b21a7fa5-4f3f-4402-b68f-3545dcc68b90-profile_image-300x300.jpg
                username: leeeeex
                alias: leeeeex
                displayName: leeeeex
                providerId: '85827806'
                isPartner: false
                broadcasterType: ''
                inactive: false
      deprecated: false
  /channels/{channel}/details:
    get:
      tags:
      - channels
      summary: /:channel/details
      description: Get channel details
      operationId: /:channel/details
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json; charset=utf-8
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 10:43:42 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '874'
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ChannelDetails'
              example:
                profile:
                  headerImage: https://cdn.streamelements.com/static/user/profile_header_default.png
                  title: leeeeex's profile
                provider: twitch
                suspended: false
                nullChannel: false
                providerEmails: []
                lastJWTToken: null
                _id: 5b2e2007760aeb7729487dab
                email: email@streamelements.com
                avatar: https://static-cdn.jtvnw.net/jtv_user_pictures/b21a7fa5-4f3f-4402-b68f-3545dcc68b90-profile_image-300x300.jpg
                verified: false
                username: leeeeex
                alias: leeeeex
                displayName: leeeeex
                providerId: '85827806'
                accessToken: ixfd2ussul9naws1agx16n8ufwny5a
                apiToken: 7JkHvfuVsd5I1f1A0TRF
                isPartner: false
                broadcasterType: ''
                users:
                - user: 5b2e2007760aeb6677487daa
                  providerId: '85827806'
                  role: owner
                ab: []
                createdAt: '2018-06-23T10:25:11.733Z'
                updatedAt: '2018-12-07T10:43:42.282Z'
                lastLogin: '2018-12-07T10:43:42.281Z'
                country: US
                inactive: false
      deprecated: false
  /channels/{channel}/emotes:
    get:
      tags:
      - channels
      summary: /:channel/emotes
      description: Get emotes that can be used on channel (twitch, bttv, ffz)
      operationId: /:channel/emotes
      parameters:
      - name: channel
        in: path
        description: guid - Channel id
        required: true
        style: simple
        schema:
          type: string
          example: 5b2e2007760aeb7729487dab
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json; charset=utf-8
      responses:
        '200':
          description: ''
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Fri, 07 Dec 2018 10:47:24 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '96217'
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ChannelEmotes'
              example:
                bttvChannelEmotes:
                  gachiBASS:
                    _id: 57719a9a6bdecd592c3ad59b
                    name: gachiBASS
                    type: bttv
                    width: 28
                    height: 28
                    gif: true
                    urls:
                      '1': https://cdn.betterttv.net/emote/57719a9a6bdecd592c3ad59b/1x
                      '2': https://cdn.betterttv.net/emote/57719a9a6bdecd592c3ad59b/2x
                      '4': https://cdn.betterttv.net/emote/57719a9a6bdecd592c3ad59b/3x
                bttvGlobalEmotes:
                  (chompy):
                    _id: 550b225fff8ecee922d2a3b2
                    name: (chompy)
                    type: bttv
                    width: 28
                    height: 28
                    gif: true
                    urls:
                      '1': https://cdn.betterttv.net/emote/550b225fff8ecee922d2a3b2/1x
                      '2': https://cdn.betterttv.net/emote/550b225fff8ecee922d2a3b2/2x
                      '4': https://cdn.betterttv.net/emote/550b225fff8ecee922d2a3b2/3x
                  (poolparty):
                    _id: 5502883d135896936880fdd3
                    name: (poolparty)
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/5502883d135896936880fdd3/1x
                      '2': https://cdn.betterttv.net/emote/5502883d135896936880fdd3/2x
                      '4': https://cdn.betterttv.net/emote/5502883d135896936880fdd3/3x
                  (puke):
                    _id: 550288fe135896936880fdd4
                    name: (puke)
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550288fe135896936880fdd4/1x
                      '2': https://cdn.betterttv.net/emote/550288fe135896936880fdd4/2x
                      '4': https://cdn.betterttv.net/emote/550288fe135896936880fdd4/3x
                  :'(:
                    _id: 55028923135896936880fdd5
                    name: :'(
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55028923135896936880fdd5/1x
                      '2': https://cdn.betterttv.net/emote/55028923135896936880fdd5/2x
                      '4': https://cdn.betterttv.net/emote/55028923135896936880fdd5/3x
                  ':tf:':
                    _id: 54fa8f1401e468494b85b537
                    name: ':tf:'
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa8f1401e468494b85b537/1x
                      '2': https://cdn.betterttv.net/emote/54fa8f1401e468494b85b537/2x
                      '4': https://cdn.betterttv.net/emote/54fa8f1401e468494b85b537/3x
                  AngelThump:
                    _id: 566ca1a365dbbdab32ec055b
                    name: AngelThump
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566ca1a365dbbdab32ec055b/1x
                      '2': https://cdn.betterttv.net/emote/566ca1a365dbbdab32ec055b/2x
                      '4': https://cdn.betterttv.net/emote/566ca1a365dbbdab32ec055b/3x
                  BaconEffect:
                    _id: 54fbf05a01abde735115de5e
                    name: BaconEffect
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbf05a01abde735115de5e/1x
                      '2': https://cdn.betterttv.net/emote/54fbf05a01abde735115de5e/2x
                      '4': https://cdn.betterttv.net/emote/54fbf05a01abde735115de5e/3x
                  BadAss:
                    _id: 54faa4f101e468494b85b577
                    name: BadAss
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54faa4f101e468494b85b577/1x
                      '2': https://cdn.betterttv.net/emote/54faa4f101e468494b85b577/2x
                      '4': https://cdn.betterttv.net/emote/54faa4f101e468494b85b577/3x
                  BasedGod:
                    _id: 566c9eeb65dbbdab32ec052b
                    name: BasedGod
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566c9eeb65dbbdab32ec052b/1x
                      '2': https://cdn.betterttv.net/emote/566c9eeb65dbbdab32ec052b/2x
                      '4': https://cdn.betterttv.net/emote/566c9eeb65dbbdab32ec052b/3x
                  BatKappa:
                    _id: 550b6b07ff8ecee922d2a3e7
                    name: BatKappa
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550b6b07ff8ecee922d2a3e7/1x
                      '2': https://cdn.betterttv.net/emote/550b6b07ff8ecee922d2a3e7/2x
                      '4': https://cdn.betterttv.net/emote/550b6b07ff8ecee922d2a3e7/3x
                  Blackappa:
                    _id: 54faa50d01e468494b85b578
                    name: Blackappa
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54faa50d01e468494b85b578/1x
                      '2': https://cdn.betterttv.net/emote/54faa50d01e468494b85b578/2x
                      '4': https://cdn.betterttv.net/emote/54faa50d01e468494b85b578/3x
                  BroBalt:
                    _id: 54fbf00a01abde735115de5c
                    name: BroBalt
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbf00a01abde735115de5c/1x
                      '2': https://cdn.betterttv.net/emote/54fbf00a01abde735115de5c/2x
                      '4': https://cdn.betterttv.net/emote/54fbf00a01abde735115de5c/3x
                  ButterSauce:
                    _id: 54fbf02f01abde735115de5d
                    name: ButterSauce
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbf02f01abde735115de5d/1x
                      '2': https://cdn.betterttv.net/emote/54fbf02f01abde735115de5d/2x
                      '4': https://cdn.betterttv.net/emote/54fbf02f01abde735115de5d/3x
                  CHAccepted:
                    _id: 54fa8fb201e468494b85b53b
                    name: CHAccepted
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa8fb201e468494b85b53b/1x
                      '2': https://cdn.betterttv.net/emote/54fa8fb201e468494b85b53b/2x
                      '4': https://cdn.betterttv.net/emote/54fa8fb201e468494b85b53b/3x
                  CandianRage:
                    _id: 54fbf09c01abde735115de61
                    name: CandianRage
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbf09c01abde735115de61/1x
                      '2': https://cdn.betterttv.net/emote/54fbf09c01abde735115de61/2x
                      '4': https://cdn.betterttv.net/emote/54fbf09c01abde735115de61/3x
                  CiGrip:
                    _id: 54fa8fce01e468494b85b53c
                    name: CiGrip
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa8fce01e468494b85b53c/1x
                      '2': https://cdn.betterttv.net/emote/54fa8fce01e468494b85b53c/2x
                      '4': https://cdn.betterttv.net/emote/54fa8fce01e468494b85b53c/3x
                  ConcernDoge:
                    _id: 566c9f6365dbbdab32ec0532
                    name: ConcernDoge
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566c9f6365dbbdab32ec0532/1x
                      '2': https://cdn.betterttv.net/emote/566c9f6365dbbdab32ec0532/2x
                      '4': https://cdn.betterttv.net/emote/566c9f6365dbbdab32ec0532/3x
                  CruW:
                    _id: 55471c2789d53f2d12781713
                    name: CruW
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55471c2789d53f2d12781713/1x
                      '2': https://cdn.betterttv.net/emote/55471c2789d53f2d12781713/2x
                      '4': https://cdn.betterttv.net/emote/55471c2789d53f2d12781713/3x
                  'D:':
                    _id: 55028cd2135896936880fdd7
                    name: 'D:'
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55028cd2135896936880fdd7/1x
                      '2': https://cdn.betterttv.net/emote/55028cd2135896936880fdd7/2x
                      '4': https://cdn.betterttv.net/emote/55028cd2135896936880fdd7/3x
                  DatSauce:
                    _id: 54fa903b01e468494b85b53f
                    name: DatSauce
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa903b01e468494b85b53f/1x
                      '2': https://cdn.betterttv.net/emote/54fa903b01e468494b85b53f/2x
                      '4': https://cdn.betterttv.net/emote/54fa903b01e468494b85b53f/3x
                  DogeWitIt:
                    _id: 54faa52f01e468494b85b579
                    name: DogeWitIt
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54faa52f01e468494b85b579/1x
                      '2': https://cdn.betterttv.net/emote/54faa52f01e468494b85b579/2x
                      '4': https://cdn.betterttv.net/emote/54faa52f01e468494b85b579/3x
                  DuckerZ:
                    _id: 573d38b50ffbf6cc5cc38dc9
                    name: DuckerZ
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/573d38b50ffbf6cc5cc38dc9/1x
                      '2': https://cdn.betterttv.net/emote/573d38b50ffbf6cc5cc38dc9/2x
                      '4': https://cdn.betterttv.net/emote/573d38b50ffbf6cc5cc38dc9/3x
                  FCreep:
                    _id: 56d937f7216793c63ec140cb
                    name: FCreep
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/56d937f7216793c63ec140cb/1x
                      '2': https://cdn.betterttv.net/emote/56d937f7216793c63ec140cb/2x
                      '4': https://cdn.betterttv.net/emote/56d937f7216793c63ec140cb/3x
                  FapFapFap:
                    _id: 566c9f9265dbbdab32ec0538
                    name: FapFapFap
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566c9f9265dbbdab32ec0538/1x
                      '2': https://cdn.betterttv.net/emote/566c9f9265dbbdab32ec0538/2x
                      '4': https://cdn.betterttv.net/emote/566c9f9265dbbdab32ec0538/3x
                  FeelsAmazingMan:
                    _id: 5733ff12e72c3c0814233e20
                    name: FeelsAmazingMan
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/5733ff12e72c3c0814233e20/1x
                      '2': https://cdn.betterttv.net/emote/5733ff12e72c3c0814233e20/2x
                      '4': https://cdn.betterttv.net/emote/5733ff12e72c3c0814233e20/3x
                  FeelsBadMan:
                    _id: 566c9fc265dbbdab32ec053b
                    name: FeelsBadMan
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566c9fc265dbbdab32ec053b/1x
                      '2': https://cdn.betterttv.net/emote/566c9fc265dbbdab32ec053b/2x
                      '4': https://cdn.betterttv.net/emote/566c9fc265dbbdab32ec053b/3x
                  FeelsBirthdayMan:
                    _id: 55b6524154eefd53777b2580
                    name: FeelsBirthdayMan
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55b6524154eefd53777b2580/1x
                      '2': https://cdn.betterttv.net/emote/55b6524154eefd53777b2580/2x
                      '4': https://cdn.betterttv.net/emote/55b6524154eefd53777b2580/3x
                  FeelsGoodMan:
                    _id: 566c9fde65dbbdab32ec053e
                    name: FeelsGoodMan
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566c9fde65dbbdab32ec053e/1x
                      '2': https://cdn.betterttv.net/emote/566c9fde65dbbdab32ec053e/2x
                      '4': https://cdn.betterttv.net/emote/566c9fde65dbbdab32ec053e/3x
                  FeelsPumpkinMan:
                    _id: 580e438942170bfd57189866
                    name: FeelsPumpkinMan
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/580e438942170bfd57189866/1x
                      '2': https://cdn.betterttv.net/emote/580e438942170bfd57189866/2x
                      '4': https://cdn.betterttv.net/emote/580e438942170bfd57189866/3x
                  FireSpeed:
                    _id: 566c9ff365dbbdab32ec0541
                    name: FireSpeed
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566c9ff365dbbdab32ec0541/1x
                      '2': https://cdn.betterttv.net/emote/566c9ff365dbbdab32ec0541/2x
                      '4': https://cdn.betterttv.net/emote/566c9ff365dbbdab32ec0541/3x
                  FishMoley:
                    _id: 566ca00f65dbbdab32ec0544
                    name: FishMoley
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566ca00f65dbbdab32ec0544/1x
                      '2': https://cdn.betterttv.net/emote/566ca00f65dbbdab32ec0544/2x
                      '4': https://cdn.betterttv.net/emote/566ca00f65dbbdab32ec0544/3x
                  ForeverAlone:
                    _id: 54fa909b01e468494b85b542
                    name: ForeverAlone
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa909b01e468494b85b542/1x
                      '2': https://cdn.betterttv.net/emote/54fa909b01e468494b85b542/2x
                      '4': https://cdn.betterttv.net/emote/54fa909b01e468494b85b542/3x
                  FuckYea:
                    _id: 54fa90d601e468494b85b544
                    name: FuckYea
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa90d601e468494b85b544/1x
                      '2': https://cdn.betterttv.net/emote/54fa90d601e468494b85b544/2x
                      '4': https://cdn.betterttv.net/emote/54fa90d601e468494b85b544/3x
                  GabeN:
                    _id: 54fa90ba01e468494b85b543
                    name: GabeN
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa90ba01e468494b85b543/1x
                      '2': https://cdn.betterttv.net/emote/54fa90ba01e468494b85b543/2x
                      '4': https://cdn.betterttv.net/emote/54fa90ba01e468494b85b543/3x
                  HHydro:
                    _id: 54fbef6601abde735115de57
                    name: HHydro
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbef6601abde735115de57/1x
                      '2': https://cdn.betterttv.net/emote/54fbef6601abde735115de57/2x
                      '4': https://cdn.betterttv.net/emote/54fbef6601abde735115de57/3x
                  HailHelix:
                    _id: 54fa90f201e468494b85b545
                    name: HailHelix
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa90f201e468494b85b545/1x
                      '2': https://cdn.betterttv.net/emote/54fa90f201e468494b85b545/2x
                      '4': https://cdn.betterttv.net/emote/54fa90f201e468494b85b545/3x
                  HerbPerve:
                    _id: 54fa913701e468494b85b546
                    name: HerbPerve
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa913701e468494b85b546/1x
                      '2': https://cdn.betterttv.net/emote/54fa913701e468494b85b546/2x
                      '4': https://cdn.betterttv.net/emote/54fa913701e468494b85b546/3x
                  Hhhehehe:
                    _id: 566ca02865dbbdab32ec0547
                    name: Hhhehehe
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566ca02865dbbdab32ec0547/1x
                      '2': https://cdn.betterttv.net/emote/566ca02865dbbdab32ec0547/2x
                      '4': https://cdn.betterttv.net/emote/566ca02865dbbdab32ec0547/3x
                  KKona:
                    _id: 566ca04265dbbdab32ec054a
                    name: KKona
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566ca04265dbbdab32ec054a/1x
                      '2': https://cdn.betterttv.net/emote/566ca04265dbbdab32ec054a/2x
                      '4': https://cdn.betterttv.net/emote/566ca04265dbbdab32ec054a/3x
                  KaRappa:
                    _id: 550b344bff8ecee922d2a3c1
                    name: KaRappa
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550b344bff8ecee922d2a3c1/1x
                      '2': https://cdn.betterttv.net/emote/550b344bff8ecee922d2a3c1/2x
                      '4': https://cdn.betterttv.net/emote/550b344bff8ecee922d2a3c1/3x
                  Kaged:
                    _id: 54fbf11001abde735115de66
                    name: Kaged
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbf11001abde735115de66/1x
                      '2': https://cdn.betterttv.net/emote/54fbf11001abde735115de66/2x
                      '4': https://cdn.betterttv.net/emote/54fbf11001abde735115de66/3x
                  KappaCool:
                    _id: 560577560874de34757d2dc0
                    name: KappaCool
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/560577560874de34757d2dc0/1x
                      '2': https://cdn.betterttv.net/emote/560577560874de34757d2dc0/2x
                      '4': https://cdn.betterttv.net/emote/560577560874de34757d2dc0/3x
                  LuL:
                    _id: 567b00c61ddbe1786688a633
                    name: LuL
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/567b00c61ddbe1786688a633/1x
                      '2': https://cdn.betterttv.net/emote/567b00c61ddbe1786688a633/2x
                      '4': https://cdn.betterttv.net/emote/567b00c61ddbe1786688a633/3x
                  M&Mjc:
                    _id: 54fab45f633595ca4c713abc
                    name: M&Mjc
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fab45f633595ca4c713abc/1x
                      '2': https://cdn.betterttv.net/emote/54fab45f633595ca4c713abc/2x
                      '4': https://cdn.betterttv.net/emote/54fab45f633595ca4c713abc/3x
                  NaM:
                    _id: 566ca06065dbbdab32ec054e
                    name: NaM
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566ca06065dbbdab32ec054e/1x
                      '2': https://cdn.betterttv.net/emote/566ca06065dbbdab32ec054e/2x
                      '4': https://cdn.betterttv.net/emote/566ca06065dbbdab32ec054e/3x
                  OhGod:
                    _id: 566ca07965dbbdab32ec0552
                    name: OhGod
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566ca07965dbbdab32ec0552/1x
                      '2': https://cdn.betterttv.net/emote/566ca07965dbbdab32ec0552/2x
                      '4': https://cdn.betterttv.net/emote/566ca07965dbbdab32ec0552/3x
                  OhMyGoodness:
                    _id: 54fa925e01e468494b85b54d
                    name: OhMyGoodness
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa925e01e468494b85b54d/1x
                      '2': https://cdn.betterttv.net/emote/54fa925e01e468494b85b54d/2x
                      '4': https://cdn.betterttv.net/emote/54fa925e01e468494b85b54d/3x
                  OhhhKee:
                    _id: 54fbefa901abde735115de59
                    name: OhhhKee
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbefa901abde735115de59/1x
                      '2': https://cdn.betterttv.net/emote/54fbefa901abde735115de59/2x
                      '4': https://cdn.betterttv.net/emote/54fbefa901abde735115de59/3x
                  PancakeMix:
                    _id: 54fa927801e468494b85b54e
                    name: PancakeMix
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa927801e468494b85b54e/1x
                      '2': https://cdn.betterttv.net/emote/54fa927801e468494b85b54e/2x
                      '4': https://cdn.betterttv.net/emote/54fa927801e468494b85b54e/3x
                  PedoBear:
                    _id: 54fa928f01e468494b85b54f
                    name: PedoBear
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa928f01e468494b85b54f/1x
                      '2': https://cdn.betterttv.net/emote/54fa928f01e468494b85b54f/2x
                      '4': https://cdn.betterttv.net/emote/54fa928f01e468494b85b54f/3x
                  PokerFace:
                    _id: 54fa92a701e468494b85b550
                    name: PokerFace
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa92a701e468494b85b550/1x
                      '2': https://cdn.betterttv.net/emote/54fa92a701e468494b85b550/2x
                      '4': https://cdn.betterttv.net/emote/54fa92a701e468494b85b550/3x
                  PoleDoge:
                    _id: 566ca09365dbbdab32ec0555
                    name: PoleDoge
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566ca09365dbbdab32ec0555/1x
                      '2': https://cdn.betterttv.net/emote/566ca09365dbbdab32ec0555/2x
                      '4': https://cdn.betterttv.net/emote/566ca09365dbbdab32ec0555/3x
                  RageFace:
                    _id: 54fa92d701e468494b85b552
                    name: RageFace
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa92d701e468494b85b552/1x
                      '2': https://cdn.betterttv.net/emote/54fa92d701e468494b85b552/2x
                      '4': https://cdn.betterttv.net/emote/54fa92d701e468494b85b552/3x
                  RarePepe:
                    _id: 555015b77676617e17dd2e8e
                    name: RarePepe
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/555015b77676617e17dd2e8e/1x
                      '2': https://cdn.betterttv.net/emote/555015b77676617e17dd2e8e/2x
                      '4': https://cdn.betterttv.net/emote/555015b77676617e17dd2e8e/3x
                  RebeccaBlack:
                    _id: 54fa92ee01e468494b85b553
                    name: RebeccaBlack
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa92ee01e468494b85b553/1x
                      '2': https://cdn.betterttv.net/emote/54fa92ee01e468494b85b553/2x
                      '4': https://cdn.betterttv.net/emote/54fa92ee01e468494b85b553/3x
                  RonSmug:
                    _id: 55f324c47f08be9f0a63cce0
                    name: RonSmug
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55f324c47f08be9f0a63cce0/1x
                      '2': https://cdn.betterttv.net/emote/55f324c47f08be9f0a63cce0/2x
                      '4': https://cdn.betterttv.net/emote/55f324c47f08be9f0a63cce0/3x
                  SaltyCorn:
                    _id: 56901914991f200c34ffa656
                    name: SaltyCorn
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/56901914991f200c34ffa656/1x
                      '2': https://cdn.betterttv.net/emote/56901914991f200c34ffa656/2x
                      '4': https://cdn.betterttv.net/emote/56901914991f200c34ffa656/3x
                  SavageJerky:
                    _id: 54fb603201abde735115ddb5
                    name: SavageJerky
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fb603201abde735115ddb5/1x
                      '2': https://cdn.betterttv.net/emote/54fb603201abde735115ddb5/2x
                      '4': https://cdn.betterttv.net/emote/54fb603201abde735115ddb5/3x
                  SexPanda:
                    _id: 5502874d135896936880fdd2
                    name: SexPanda
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/5502874d135896936880fdd2/1x
                      '2': https://cdn.betterttv.net/emote/5502874d135896936880fdd2/2x
                      '4': https://cdn.betterttv.net/emote/5502874d135896936880fdd2/3x
                  She'llBeRight:
                    _id: 54fbefc901abde735115de5a
                    name: She'llBeRight
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbefc901abde735115de5a/1x
                      '2': https://cdn.betterttv.net/emote/54fbefc901abde735115de5a/2x
                      '4': https://cdn.betterttv.net/emote/54fbefc901abde735115de5a/3x
                  ShoopDaWhoop:
                    _id: 54fa932201e468494b85b555
                    name: ShoopDaWhoop
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa932201e468494b85b555/1x
                      '2': https://cdn.betterttv.net/emote/54fa932201e468494b85b555/2x
                      '4': https://cdn.betterttv.net/emote/54fa932201e468494b85b555/3x
                  SoSerious:
                    _id: 5514afe362e6bd0027aede8a
                    name: SoSerious
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/5514afe362e6bd0027aede8a/1x
                      '2': https://cdn.betterttv.net/emote/5514afe362e6bd0027aede8a/2x
                      '4': https://cdn.betterttv.net/emote/5514afe362e6bd0027aede8a/3x
                  SourPls:
                    _id: 566ca38765dbbdab32ec0560
                    name: SourPls
                    type: bttv
                    width: 28
                    height: 28
                    gif: true
                    urls:
                      '1': https://cdn.betterttv.net/emote/566ca38765dbbdab32ec0560/1x
                      '2': https://cdn.betterttv.net/emote/566ca38765dbbdab32ec0560/2x
                      '4': https://cdn.betterttv.net/emote/566ca38765dbbdab32ec0560/3x
                  SqShy:
                    _id: 59cf182fcbe2693d59d7bf46
                    name: SqShy
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/59cf182fcbe2693d59d7bf46/1x
                      '2': https://cdn.betterttv.net/emote/59cf182fcbe2693d59d7bf46/2x
                      '4': https://cdn.betterttv.net/emote/59cf182fcbe2693d59d7bf46/3x
                  SuchFraud:
                    _id: 54fbf07e01abde735115de5f
                    name: SuchFraud
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbf07e01abde735115de5f/1x
                      '2': https://cdn.betterttv.net/emote/54fbf07e01abde735115de5f/2x
                      '4': https://cdn.betterttv.net/emote/54fbf07e01abde735115de5f/3x
                  SwedSwag:
                    _id: 54fa9cc901e468494b85b565
                    name: SwedSwag
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa9cc901e468494b85b565/1x
                      '2': https://cdn.betterttv.net/emote/54fa9cc901e468494b85b565/2x
                      '4': https://cdn.betterttv.net/emote/54fa9cc901e468494b85b565/3x
                  TaxiBro:
                    _id: 54fbefeb01abde735115de5b
                    name: TaxiBro
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbefeb01abde735115de5b/1x
                      '2': https://cdn.betterttv.net/emote/54fbefeb01abde735115de5b/2x
                      '4': https://cdn.betterttv.net/emote/54fbefeb01abde735115de5b/3x
                  TopHam:
                    _id: 54fa934001e468494b85b556
                    name: TopHam
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa934001e468494b85b556/1x
                      '2': https://cdn.betterttv.net/emote/54fa934001e468494b85b556/2x
                      '4': https://cdn.betterttv.net/emote/54fa934001e468494b85b556/3x
                  TwaT:
                    _id: 54fa935601e468494b85b557
                    name: TwaT
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa935601e468494b85b557/1x
                      '2': https://cdn.betterttv.net/emote/54fa935601e468494b85b557/2x
                      '4': https://cdn.betterttv.net/emote/54fa935601e468494b85b557/3x
                  VapeNation:
                    _id: 56f5be00d48006ba34f530a4
                    name: VapeNation
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/56f5be00d48006ba34f530a4/1x
                      '2': https://cdn.betterttv.net/emote/56f5be00d48006ba34f530a4/2x
                      '4': https://cdn.betterttv.net/emote/56f5be00d48006ba34f530a4/3x
                  VisLaud:
                    _id: 550352766f86a5b26c281ba2
                    name: VisLaud
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550352766f86a5b26c281ba2/1x
                      '2': https://cdn.betterttv.net/emote/550352766f86a5b26c281ba2/2x
                      '4': https://cdn.betterttv.net/emote/550352766f86a5b26c281ba2/3x
                  WatChuSay:
                    _id: 54fa99b601e468494b85b55d
                    name: WatChuSay
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa99b601e468494b85b55d/1x
                      '2': https://cdn.betterttv.net/emote/54fa99b601e468494b85b55d/2x
                      '4': https://cdn.betterttv.net/emote/54fa99b601e468494b85b55d/3x
                  WhatAYolk:
                    _id: 54fa93d001e468494b85b559
                    name: WhatAYolk
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa93d001e468494b85b559/1x
                      '2': https://cdn.betterttv.net/emote/54fa93d001e468494b85b559/2x
                      '4': https://cdn.betterttv.net/emote/54fa93d001e468494b85b559/3x
                  Wowee:
                    _id: 58d2e73058d8950a875ad027
                    name: Wowee
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/58d2e73058d8950a875ad027/1x
                      '2': https://cdn.betterttv.net/emote/58d2e73058d8950a875ad027/2x
                      '4': https://cdn.betterttv.net/emote/58d2e73058d8950a875ad027/3x
                  YetiZ:
                    _id: 55189a5062e6bd0027aee082
                    name: YetiZ
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55189a5062e6bd0027aee082/1x
                      '2': https://cdn.betterttv.net/emote/55189a5062e6bd0027aee082/2x
                      '4': https://cdn.betterttv.net/emote/55189a5062e6bd0027aee082/3x
                  Zappa:
                    _id: 5622aaef3286c42e57d8e4ab
                    name: Zappa
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/5622aaef3286c42e57d8e4ab/1x
                      '2': https://cdn.betterttv.net/emote/5622aaef3286c42e57d8e4ab/2x
                      '4': https://cdn.betterttv.net/emote/5622aaef3286c42e57d8e4ab/3x
                  aPliS:
                    _id: 54fa8f4201e468494b85b538
                    name: aPliS
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa8f4201e468494b85b538/1x
                      '2': https://cdn.betterttv.net/emote/54fa8f4201e468494b85b538/2x
                      '4': https://cdn.betterttv.net/emote/54fa8f4201e468494b85b538/3x
                  ariW:
                    _id: 56fa09f18eff3b595e93ac26
                    name: ariW
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/56fa09f18eff3b595e93ac26/1x
                      '2': https://cdn.betterttv.net/emote/56fa09f18eff3b595e93ac26/2x
                      '4': https://cdn.betterttv.net/emote/56fa09f18eff3b595e93ac26/3x
                  bUrself:
                    _id: 566c9f3b65dbbdab32ec052e
                    name: bUrself
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566c9f3b65dbbdab32ec052e/1x
                      '2': https://cdn.betterttv.net/emote/566c9f3b65dbbdab32ec052e/2x
                      '4': https://cdn.betterttv.net/emote/566c9f3b65dbbdab32ec052e/3x
                  bttvAngry:
                    _id: 550291a3135896936880fde3
                    name: bttvAngry
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550291a3135896936880fde3/1x
                      '2': https://cdn.betterttv.net/emote/550291a3135896936880fde3/2x
                      '4': https://cdn.betterttv.net/emote/550291a3135896936880fde3/3x
                  bttvConfused:
                    _id: 550291be135896936880fde4
                    name: bttvConfused
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550291be135896936880fde4/1x
                      '2': https://cdn.betterttv.net/emote/550291be135896936880fde4/2x
                      '4': https://cdn.betterttv.net/emote/550291be135896936880fde4/3x
                  bttvCool:
                    _id: 550291d4135896936880fde5
                    name: bttvCool
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550291d4135896936880fde5/1x
                      '2': https://cdn.betterttv.net/emote/550291d4135896936880fde5/2x
                      '4': https://cdn.betterttv.net/emote/550291d4135896936880fde5/3x
                  bttvGrin:
                    _id: 550291ea135896936880fde6
                    name: bttvGrin
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550291ea135896936880fde6/1x
                      '2': https://cdn.betterttv.net/emote/550291ea135896936880fde6/2x
                      '4': https://cdn.betterttv.net/emote/550291ea135896936880fde6/3x
                  bttvHappy:
                    _id: 55029200135896936880fde7
                    name: bttvHappy
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55029200135896936880fde7/1x
                      '2': https://cdn.betterttv.net/emote/55029200135896936880fde7/2x
                      '4': https://cdn.betterttv.net/emote/55029200135896936880fde7/3x
                  bttvHeart:
                    _id: 55029215135896936880fde8
                    name: bttvHeart
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55029215135896936880fde8/1x
                      '2': https://cdn.betterttv.net/emote/55029215135896936880fde8/2x
                      '4': https://cdn.betterttv.net/emote/55029215135896936880fde8/3x
                  bttvNice:
                    _id: 54fab7d2633595ca4c713abf
                    name: bttvNice
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fab7d2633595ca4c713abf/1x
                      '2': https://cdn.betterttv.net/emote/54fab7d2633595ca4c713abf/2x
                      '4': https://cdn.betterttv.net/emote/54fab7d2633595ca4c713abf/3x
                  bttvSad:
                    _id: 5502925d135896936880fdea
                    name: bttvSad
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/5502925d135896936880fdea/1x
                      '2': https://cdn.betterttv.net/emote/5502925d135896936880fdea/2x
                      '4': https://cdn.betterttv.net/emote/5502925d135896936880fdea/3x
                  bttvSleep:
                    _id: 55029272135896936880fdeb
                    name: bttvSleep
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55029272135896936880fdeb/1x
                      '2': https://cdn.betterttv.net/emote/55029272135896936880fdeb/2x
                      '4': https://cdn.betterttv.net/emote/55029272135896936880fdeb/3x
                  bttvSurprised:
                    _id: 55029288135896936880fdec
                    name: bttvSurprised
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55029288135896936880fdec/1x
                      '2': https://cdn.betterttv.net/emote/55029288135896936880fdec/2x
                      '4': https://cdn.betterttv.net/emote/55029288135896936880fdec/3x
                  bttvTongue:
                    _id: 5502929b135896936880fded
                    name: bttvTongue
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/5502929b135896936880fded/1x
                      '2': https://cdn.betterttv.net/emote/5502929b135896936880fded/2x
                      '4': https://cdn.betterttv.net/emote/5502929b135896936880fded/3x
                  bttvTwink:
                    _id: 55029247135896936880fde9
                    name: bttvTwink
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55029247135896936880fde9/1x
                      '2': https://cdn.betterttv.net/emote/55029247135896936880fde9/2x
                      '4': https://cdn.betterttv.net/emote/55029247135896936880fde9/3x
                  bttvUnsure:
                    _id: 550292ad135896936880fdee
                    name: bttvUnsure
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550292ad135896936880fdee/1x
                      '2': https://cdn.betterttv.net/emote/550292ad135896936880fdee/2x
                      '4': https://cdn.betterttv.net/emote/550292ad135896936880fdee/3x
                  bttvWink:
                    _id: 550292c0135896936880fdef
                    name: bttvWink
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/550292c0135896936880fdef/1x
                      '2': https://cdn.betterttv.net/emote/550292c0135896936880fdef/2x
                      '4': https://cdn.betterttv.net/emote/550292c0135896936880fdef/3x
                  haHAA:
                    _id: 555981336ba1901877765555
                    name: haHAA
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/555981336ba1901877765555/1x
                      '2': https://cdn.betterttv.net/emote/555981336ba1901877765555/2x
                      '4': https://cdn.betterttv.net/emote/555981336ba1901877765555/3x
                  iDog:
                    _id: 54fa919901e468494b85b548
                    name: iDog
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa919901e468494b85b548/1x
                      '2': https://cdn.betterttv.net/emote/54fa919901e468494b85b548/2x
                      '4': https://cdn.betterttv.net/emote/54fa919901e468494b85b548/3x
                  iamsocal:
                    _id: 54fbef8701abde735115de58
                    name: iamsocal
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fbef8701abde735115de58/1x
                      '2': https://cdn.betterttv.net/emote/54fbef8701abde735115de58/2x
                      '4': https://cdn.betterttv.net/emote/54fbef8701abde735115de58/3x
                  miniJulia:
                    _id: 552d2fc2236a1aa17a996c5b
                    name: miniJulia
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/552d2fc2236a1aa17a996c5b/1x
                      '2': https://cdn.betterttv.net/emote/552d2fc2236a1aa17a996c5b/2x
                      '4': https://cdn.betterttv.net/emote/552d2fc2236a1aa17a996c5b/3x
                  motnahP:
                    _id: 55288e390fa35376704a4c7a
                    name: motnahP
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/55288e390fa35376704a4c7a/1x
                      '2': https://cdn.betterttv.net/emote/55288e390fa35376704a4c7a/2x
                      '4': https://cdn.betterttv.net/emote/55288e390fa35376704a4c7a/3x
                  notsquishY:
                    _id: 5709ab688eff3b595e93c595
                    name: notsquishY
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/5709ab688eff3b595e93c595/1x
                      '2': https://cdn.betterttv.net/emote/5709ab688eff3b595e93c595/2x
                      '4': https://cdn.betterttv.net/emote/5709ab688eff3b595e93c595/3x
                  rStrike:
                    _id: 54fa930801e468494b85b554
                    name: rStrike
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/54fa930801e468494b85b554/1x
                      '2': https://cdn.betterttv.net/emote/54fa930801e468494b85b554/2x
                      '4': https://cdn.betterttv.net/emote/54fa930801e468494b85b554/3x
                  sosGame:
                    _id: 553b48a21f145f087fc15ca6
                    name: sosGame
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/553b48a21f145f087fc15ca6/1x
                      '2': https://cdn.betterttv.net/emote/553b48a21f145f087fc15ca6/2x
                      '4': https://cdn.betterttv.net/emote/553b48a21f145f087fc15ca6/3x
                  tehPoleCat:
                    _id: 566ca11a65dbbdab32ec0558
                    name: tehPoleCat
                    type: bttv
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://cdn.betterttv.net/emote/566ca11a65dbbdab32ec0558/1x
                      '2': https://cdn.betterttv.net/emote/566ca11a65dbbdab32ec0558/2x
                      '4': https://cdn.betterttv.net/emote/566ca11a65dbbdab32ec0558/3x
                ffzChannelEmotes: null
                ffzGlobalEmotes:
                  AndKnuckles:
                    _id: '24999'
                    name: AndKnuckles
                    type: ffz
                    width: 80
                    height: 11
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/2104d535159a04a63d479adcbc236600.PNG
                      '2': https://cdn.frankerfacez.com/f8457911a8931e9839e7c9ae1870e069.PNG
                      '4': https://cdn.frankerfacez.com/d16e1c9fd592e1e5ac64a7a3406172c7.png
                  BORT:
                    _id: '142673'
                    name: BORT
                    type: ffz
                    width: 19
                    height: 30
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/aa4c8a9d459c866e9f9e03aac614c47a.png
                  BeanieHipster:
                    _id: '3'
                    name: BeanieHipster
                    type: ffz
                    width: 28
                    height: 33
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/9c727af513b96dfb0dcbc86daa2239d8.png
                  CatBag:
                    _id: '25927'
                    name: CatBag
                    type: ffz
                    width: 32
                    height: 29
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/66e8e3cb33c9214b6d0bcfef04e48036.png
                      '2': https://cdn.frankerfacez.com/585e6fdea0c5d3e20678284f43af8749.PNG
                      '4': https://cdn.frankerfacez.com/e122d47bb38465c5edd7c79a18a70c91.png
                  LaterSooner:
                    _id: '149346'
                    name: LaterSooner
                    type: ffz
                    width: 25
                    height: 32
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/abb31ac36f9e722c34af8a6af3ce8015.PNG
                      '2': https://cdn.frankerfacez.com/1fcefc6216cd36fc9ce2a2f7385d854c.PNG
                      '4': https://cdn.frankerfacez.com/e0b85cec6a0b95066fbc3e838263f578.png
                  LilZ:
                    _id: '28136'
                    name: LilZ
                    type: ffz
                    width: 32
                    height: 23
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/42c1ab2d569b74fd067279096f5ec238.png
                      '2': https://cdn.frankerfacez.com/a6623002a430bcd27edc866441c1582f.PNG
                      '4': https://cdn.frankerfacez.com/87f9e721b468ba34e9780cdb97afb827.png
                  ManChicken:
                    _id: '4'
                    name: ManChicken
                    type: ffz
                    width: 30
                    height: 29
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/08c6aa877f0d946d45f30454d9fb1300.png
                  OBOY:
                    _id: '147400'
                    name: OBOY
                    type: ffz
                    width: 27
                    height: 32
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/2c54ee3f057f38a3205990d1bc9f1773.PNG
                      '2': https://cdn.frankerfacez.com/1f78c913e9d774dc516a34c31365a264.PNG
                      '4': https://cdn.frankerfacez.com/a828d1810660377d6966c7d332a148c2.png
                  OiMinna:
                    _id: '143930'
                    name: OiMinna
                    type: ffz
                    width: 32
                    height: 32
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/ff7001713323e7a04461e40a66f971a2.PNG
                      '2': https://cdn.frankerfacez.com/3f5b1ef8c2a33f1dc1a5b726c5be53ac.PNG
                      '4': https://cdn.frankerfacez.com/193e59bbfef68b8f7172db49137e6f85.png
                  YellowFever:
                    _id: '5'
                    name: YellowFever
                    type: ffz
                    width: 23
                    height: 29
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/53ebdc39a0603f7a3372ad016bb8597e.png
                  YooHoo:
                    _id: '6'
                    name: YooHoo
                    type: ffz
                    width: 28
                    height: 34
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/4c3f7ea69ff255ff4ee0adebbe62751c.png
                  ZliL:
                    _id: '28138'
                    name: ZliL
                    type: ffz
                    width: 32
                    height: 23
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/575045fa940e46932e035f18b58bb681.png
                      '2': https://cdn.frankerfacez.com/0aa63d7f0ac0a6d3622b009b5af28944.PNG
                      '4': https://cdn.frankerfacez.com/d29eaa2e41841be27e2e35badec0942f.png
                  ZrehplaR:
                    _id: '9'
                    name: ZrehplaR
                    type: ffz
                    width: 33
                    height: 30
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/4556987ef91323110080b223f96d7400.png
                  ZreknarF:
                    _id: '27081'
                    name: ZreknarF
                    type: ffz
                    width: 40
                    height: 30
                    gif: false
                    urls:
                      '1': https://cdn.frankerfacez.com/3d9385dc754fa97a5ef7ffdc4751534c.png
                      '2': https://cdn.frankerfacez.com/1719f1cd21489ef579f6e8bbc861c22f.PNG
                      '4': https://cdn.frankerfacez.com/f4f00341b9e9e28aace2a85d5a889b82.png
                twitchGlobalEmotes:
                  4Head:
                    _id: '354'
                    name: 4Head
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/354/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/354/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/354/3.0
                  ANELE:
                    _id: '3792'
                    name: ANELE
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/3792/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/3792/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/3792/3.0
                  AngryJack:
                    _id: '551866'
                    name: AngryJack
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/551866/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/551866/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/551866/3.0
                  ArgieB8:
                    _id: '51838'
                    name: ArgieB8
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/51838/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/51838/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/51838/3.0
                  ArigatoNas:
                    _id: '160393'
                    name: ArigatoNas
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/160393/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/160393/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/160393/3.0
                  ArsonNoSexy:
                    _id: '50'
                    name: ArsonNoSexy
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/50/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/50/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/50/3.0
                  AsexualPride:
                    _id: '1130348'
                    name: AsexualPride
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1130348/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1130348/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1130348/3.0
                  AsianGlow:
                    _id: '74'
                    name: AsianGlow
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/74/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/74/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/74/3.0
                  BCWarrior:
                    _id: '30'
                    name: BCWarrior
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/30/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/30/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/30/3.0
                  BabyRage:
                    _id: '22639'
                    name: BabyRage
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/22639/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/22639/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/22639/3.0
                  BatChest:
                    _id: '115234'
                    name: BatChest
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/115234/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/115234/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/115234/3.0
                  BegWan:
                    _id: '160394'
                    name: BegWan
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/160394/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/160394/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/160394/3.0
                  BibleThump:
                    _id: '86'
                    name: BibleThump
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/86/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/86/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/86/3.0
                  BigBrother:
                    _id: '1904'
                    name: BigBrother
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1904/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1904/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1904/3.0
                  BigPhish:
                    _id: '160395'
                    name: BigPhish
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/160395/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/160395/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/160395/3.0
                  BisexualPride:
                    _id: '1064987'
                    name: BisexualPride
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1064987/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1064987/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1064987/3.0
                  BlargNaut:
                    _id: '114738'
                    name: BlargNaut
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/114738/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/114738/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/114738/3.0
                  BlessRNG:
                    _id: '153556'
                    name: BlessRNG
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/153556/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/153556/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/153556/3.0
                  BloodTrail:
                    _id: '69'
                    name: BloodTrail
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/69/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/69/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/69/3.0
                  BrainSlug:
                    _id: '115233'
                    name: BrainSlug
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/115233/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/115233/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/115233/3.0
                  BrokeBack:
                    _id: '4057'
                    name: BrokeBack
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/4057/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/4057/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/4057/3.0
                  BuddhaBar:
                    _id: '27602'
                    name: BuddhaBar
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/27602/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/27602/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/27602/3.0
                  CarlSmile:
                    _id: '166266'
                    name: CarlSmile
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/166266/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/166266/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/166266/3.0
                  ChefFrank:
                    _id: '90129'
                    name: ChefFrank
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/90129/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/90129/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/90129/3.0
                  CoolCat:
                    _id: '58127'
                    name: CoolCat
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/58127/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/58127/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/58127/3.0
                  CoolStoryBob:
                    _id: '123171'
                    name: CoolStoryBob
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/123171/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/123171/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/123171/3.0
                  CorgiDerp:
                    _id: '49106'
                    name: CorgiDerp
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/49106/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/49106/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/49106/3.0
                  CrreamAwk:
                    _id: '191313'
                    name: CrreamAwk
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/191313/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/191313/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/191313/3.0
                  CurseLit:
                    _id: '116625'
                    name: CurseLit
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/116625/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/116625/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/116625/3.0
                  DAESuppy:
                    _id: '973'
                    name: DAESuppy
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/973/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/973/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/973/3.0
                  DBstyle:
                    _id: '73'
                    name: DBstyle
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/73/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/73/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/73/3.0
                  DansGame:
                    _id: '33'
                    name: DansGame
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/33/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/33/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/33/3.0
                  DarkMode:
                    _id: '461298'
                    name: DarkMode
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/461298/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/461298/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/461298/3.0
                  DatSheffy:
                    _id: '111700'
                    name: DatSheffy
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/111700/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/111700/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/111700/3.0
                  DendiFace:
                    _id: '58135'
                    name: DendiFace
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/58135/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/58135/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/58135/3.0
                  DogFace:
                    _id: '114835'
                    name: DogFace
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/114835/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/114835/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/114835/3.0
                  DoritosChip:
                    _id: '102242'
                    name: DoritosChip
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/102242/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/102242/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/102242/3.0
                  DrinkPurple:
                    _id: '110785'
                    name: DrinkPurple
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/110785/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/110785/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/110785/3.0
                  DxCat:
                    _id: '110734'
                    name: DxCat
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/110734/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/110734/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/110734/3.0
                  EarthDay:
                    _id: '959018'
                    name: EarthDay
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/959018/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/959018/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/959018/3.0
                  EleGiggle:
                    _id: '4339'
                    name: EleGiggle
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/4339/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/4339/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/4339/3.0
                  EntropyWins:
                    _id: '376765'
                    name: EntropyWins
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/376765/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/376765/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/376765/3.0
                  FBBlock:
                    _id: '1441276'
                    name: FBBlock
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1441276/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1441276/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1441276/3.0
                  FBCatch:
                    _id: '1441281'
                    name: FBCatch
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1441281/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1441281/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1441281/3.0
                  FBChallenge:
                    _id: '1441285'
                    name: FBChallenge
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1441285/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1441285/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1441285/3.0
                  FBJaguars:
                    _id: '1686278'
                    name: FBJaguars
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1686278/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1686278/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1686278/3.0
                  FBPass:
                    _id: '1441271'
                    name: FBPass
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1441271/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1441271/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1441271/3.0
                  FBPenalty:
                    _id: '1441289'
                    name: FBPenalty
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1441289/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1441289/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1441289/3.0
                  FBRun:
                    _id: '1441261'
                    name: FBRun
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1441261/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1441261/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1441261/3.0
                  FBSpiral:
                    _id: '1441273'
                    name: FBSpiral
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1441273/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1441273/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1441273/3.0
                  FBTitans:
                    _id: '1686279'
                    name: FBTitans
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1686279/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1686279/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1686279/3.0
                  FBtouchdown:
                    _id: '626795'
                    name: FBtouchdown
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/626795/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/626795/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/626795/3.0
                  FUNgineer:
                    _id: '244'
                    name: FUNgineer
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/244/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/244/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/244/3.0
                  FailFish:
                    _id: '360'
                    name: FailFish
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/360/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/360/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/360/3.0
                  FrankerZ:
                    _id: '65'
                    name: FrankerZ
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/65/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/65/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/65/3.0
                  FreakinStinkin:
                    _id: '117701'
                    name: FreakinStinkin
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/117701/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/117701/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/117701/3.0
                  FutureMan:
                    _id: '98562'
                    name: FutureMan
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/98562/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/98562/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/98562/3.0
                  GayPride:
                    _id: '1064991'
                    name: GayPride
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1064991/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1064991/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1064991/3.0
                  GenderFluidPride:
                    _id: '1297281'
                    name: GenderFluidPride
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/1297281/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/1297281/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/1297281/3.0
                  GingerPower:
                    _id: '32'
                    name: GingerPower
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/32/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/32/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/32/3.0
                  GivePLZ:
                    _id: '112291'
                    name: GivePLZ
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/112291/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/112291/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/112291/3.0
                  GrammarKing:
                    _id: '3632'
                    name: GrammarKing
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/3632/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/3632/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/3632/3.0
                  GreenTeam:
                    _id: '530890'
                    name: GreenTeam
                    type: twitch
                    width: 28
                    height: 28
                    gif: false
                    urls:
                      '1': https://static-cdn.jtvnw.net/emoticons/v1/530890/1.0
                      '2': https://static-cdn.jtvnw.net/emoticons/v1/530890/1.0
                      '4': https://static-cdn.jtvnw.net/emoticons/v1/530890/3.0
                  GunRun:
                    _id: '1584743'
[...]
